.header {
    background-color: var(--bg-footer-and-header);
    padding: 30px 0;
    color: var(--color-on-black);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;
}