.header {
    background: linear-gradient(0deg, rgba(101,101,101,1) 0%, rgba(0,0,0,1) 55%);
    padding: 30px 0;
    color: var(--color-on-black);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    gap: 5px;
}

button {
    font-family: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: inherit;
}

.header__button {
    color: white;
}