.gallery {
    height: 80%;
    width: 100vw;
    overflow: hidden;
}

.gallery__section {
    height: 100%;
}
@media screen and (min-width: 1024px) {
    .gallery__title {
        padding-top: 160px;
    }
}

.gallery__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.horizontal-scroll {
    display: flex;
    gap: 40px;
}

.gallery__image {
    width: 320px;
    height: 490px;
    flex-shrink: 0;
}

.gallery__image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1023px) {
    .horizontal-scroll {
        overflow-x: scroll;
    }

    .horizontal-scroll::-webkit-scrollbar { width: 0; }

    .horizontal-scroll { -ms-overflow-style: none; }

    .gallery__block {
        gap: 55px;
    }
}