.max-container {
    max-width: var(--container);
    margin: 0 auto;
}

.container {
    max-width: var(--min-container);
    margin: 0 auto;
    height: 100%;
}


.main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 200px 0;
    justify-content: space-between;
}

.gallery {
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .main-wrapper {
        padding: 70px 0;
        gap: 70px;
    }
}